.images11 {
  width: 55%;
  height: 510px;
  margin-left: 23%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.color {
  background-color: black;
}

.back{
  background-color: gray;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .images11 {
    width: 50%;
    height: 500px;
  }
}

@media screen and (max-width: 575px) {

  .images11 {
    width: 50%;
    height: 300px;
  }
}