.section1 {
    background: url(../../../public/images/خلفيات/brown-wood-.jpg) center no-repeat;
    background-size: cover;
    height: 650px;
    margin-top: -20px;
}

.section101 {
    display: flex;
    justify-content: space-between;
}

.imag_101 {
    width: 600px;
    height: 450px;
    margin-top: 70px;
}

.father {
    position: relative;
}

.son1 {
    position: absolute;
    top: 39%;
    left: 35%;
}

.son2 {
    position: absolute;
    top: 51.5%;
    left: 28%;
    width: 220px;
    color: black;
}

.son3 {
    position: absolute;
    top: 59.5%;
    left: 28%;
    width: 220px;
    text-align: center;
    color: black;
}

.chapter1 {
    text-align: center;
    width: 500px;
    margin-top: 70px;
    box-shadow: 0 0 10px;
    padding: 50px 0px 50px;
    margin-left: 20px;
    color: white;
}




/* ====================== Section2 ===================== */

.section2 {
    background: url(../../../public/images/خلفيات/texture.jpg) center no-repeat;
    background-size: cover;
    height: 950px;
    margin-top: -20px;
}

.chapter10 {
    text-align: center;
    width: 500px;
    margin-top: 70px;
    box-shadow: 0 0 10px;
    padding: 50px 0px 50px;
    margin-left: 20px;
    color: white;
}

.father2 {
    color: white;
}


.father3 {
    position: relative;
    margin-top: 160px;
}

.son10 {
    position: absolute;
    top: 30.5%;
    left: 35%;
}

.son20 {
    position: absolute;
    top: 40%;
    left: 28%;
    width: 220px;
    text-align: center;
    color: black;
}


/* ====================== Section2 ===================== */

.chapter101 {
    text-align: center;
    width: 600px;
    margin-top: 70px;
    box-shadow: 0 0 10px black;
    padding: 50px 0px 50px;
    margin-top: 0px;
    color: white
}

.semester2 {
    background: url(../../../public/images/خلفيات/wood.jpg) center no-repeat;
    background-size: cover;
    color: black;
    height: 500px;
}

.hed1 {
    padding-top: 30px;
    color: white;
}

/* ==================     =============================== */

.father105 {
    position: relative;
}

.son105 {
    position: absolute;
    top: 38%;
    left: 35%;
}

.son205 {
    position: absolute;
    top: 53%;
    left: 28%;
    width: 220px;
    text-align: center;
    color: black;
}


/* ==============  ====================== */

.section106 {
    background: url(../../../public/images/خلفيات/dark-brown-wood.jpg) center no-repeat;
    background-size: cover;
    height: 650px;
    margin-top: -20px;
}


.father106 {
    position: relative;
}

.son106 {
    position: absolute;
    top: 38%;
    left: 35%;
}

.son206 {
    position: absolute;
    top: 53%;
    left: 28%;
    width: 220px;
    text-align: center;
    color: black;
}

.son306 {
    position: absolute;
    top: 60%;
    left: 28%;
    width: 220px;
    text-align: center;
    color: black;
}




@media screen and (min-width: 993px) {
    
    .chapter1 {
        width: 300px;
    }

    .section1 {
        height: 750px;
    }

    .chapter10{
        width: 300px;
    }

    .section2 {
        height: 1100px;
    }

    .section106 {
        height: 720px;
    }

    .son1 {
        top: 37.5%;
        left: 35%;
    }
    
    .son2 {
        top: 51.5%;
        left: 28%;
    }
    
    .son3 {
        top: 58.5%;
        left: 28%;
    }

    .son20 {
        top: 40.5%;
    }

    .son105 {
        top: 37%;
    }
    .son205 {
        top:52.5% ;
    }
    .son106 {
        top: 37%;
    }
    
    .son206 {
        top: 52.5%;
    }
    
    .son306 {
        top: 58%;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .section101 {
        display: block;
    }
    .section1 {
        height: 1200px;
    }
    .section2 {
        height: 1500px;
        margin-top: -160px;
    }
    .section106 {
        height: 1100px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .section101 {
        display: block;
    }
    .section1 {
        height: 1200px;
    }
    .sssss10 {
        margin-top: -160px;
    }
    .section2 {
        height: 1500px;
    }

    .section106 {
        height: 1200px;
    }

    .imag_101 {
        width: 500px;
        height: 450px;
    }

    .son3 {
        left: 25%;
    }

    .son10 {
        top: 51%;
        left: 32%;
    }
    
    .son20 {
        top: 62.5%;
        left: 24%;

    }
    
    .son105 {
        top: 49.5%;
    }
    .son205 {
        top:60.75% ;
        left: 26%;
    }

    .son106 {
        top: 46%;
    }
    
    .son206 {
        top: 57%;
        left: 25%;
    }
    
    .son306 {
        top: 64%;
    }

}


@media screen and (max-width: 575px) {
    .section101 {
        display: block;
        margin-left: 30px;
    }
    .section1 {
        height: 1100px;
    }

    .imag_101 {
        width: 290px;
        height: 300px;
    }

    .chapter1 {
        width: 250px;
    }
    .section2 {
        height: 1600px;
        margin-top: -160px;
    }
    .section106 {
        height: 1100px;
    }

    .chapter10,
    .chapter101 {
        width: 250px;
    }

    .semester2 {
        height: 550px;
    }

    .son1 {
        top: 40.5%;
        left: 25%;
    }
    
    .son2 {
        top: 53.5%;
        left: 22%;
        font-size: 15px;
    }
    
    .son3 {
        top: 61.5%;
        left: 8%;
        font-size: 15px;
    }

    .son10 {
        top: 50%;
        left: 23%;
    }
    
    .son20 {
        top: 65%;
        left: 8%;
        font-size: 15px;
    }

    .son105 {
        top: 51.5%;
        left: 23%;
    }
    
    .son205 {
        top: 66%;
        left: 8%;
        font-size: 15px;
    }

    .son106 {
        top: 51.5%;
        left: 24%;
    }
    
    .son206 {
        top: 66.5%;
        left: 8%;
        font-size: 15px;
    }
    
    .son306 {
        top: 73%;
        left: 8%;
        font-size: 15px;
    }

}